.structurePage {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: steelblue solid 1px;
}
.structure {
  background-color: #fff;
  height: 400px;
  border-right: 10px solid #ddd;
}
.set {
  // background-color: green;
  height: 400px;
}
.view {
  // background-color: gray;
  border-top: 10px solid #ddd;
  height: 250px;
}
