<appSettings>
  <add key="keyTimeOut" value="525600"/>
  <add key="issuer" value="http://localhost:55011/"/>
  <add key="secret" value="JSozamg1ODBIc2w4XiUkKS1kOGZoaWlxMjMmKnVpZHNmKl4mXjIzaW91aWRmXl4y"/>
  <add key ="TemplateRootFolder" value="C:\New folder"/>
  <add key ="ProjectRootFolder" value="C:\New folder"/>
  <add key="MaxLayer" value="500"/>
  <add key ="PythonExe" value="C:\Users\shopAdmin\AppData\Local\Programs\Python\Python36\python.exe"/>
  <add key ="PythonScripts" value="C:\saic\calculate\bin\run.py"/>
</appSettings>
