<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<% if (context.title != null) { %>
  <title><%= context.title %></title>
<% } %>
<!-- <script type="text/javascript" src="http://40.121.23.71/backend/test/structure.js"></script> -->
</head>
<body>

<div id="<%= context.config.mountElementId %>"></div>

</body>
</html>